.card {
  display:flex;
  flex-direction: column;
  padding: 15px;
}
.card img {
  width: 100%;
  height: 75%;
}
.bottomCard {
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   padding-bottom: 1.3rem;
   padding-left: 1.5rem;
}
.bottomCard p {
  padding-top: 20px;
  font-weight: 300;
  font-size: 0.875em;
  color: #9B9B9B;
}
.bottomCard h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.83rem;
}
.sushi {
  display: flex;
  flex-direction:row;
  align-items: center;
}
.bottomCardText { float: right; width: 40%;}
.bla {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
}
.bla a {
   text-align: right;
   align-self:flex-end;
   margin-left: 40%;
   padding-bottom: 0.5rem;
   text-decoration: none;
   color: #E3CDB1;
}
.first {
  margin-top: 0.6rem;
}
.allRecipes {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

label {
  text-align: right;
}
.gr { width: 70%;}
.gr h1 {margin-top: 0.2rem; font-size: 3.75rem;}
.rolls {
  background: linear-gradient(#FAFAFA 20%, #F2F2F2 80%);
  padding-top: 10rem;
}
.gridButton button {
  margin: auto;
}
