.hero {
  height: 100vh;
  background-image: url(img/cake.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: bottom right;
  border: 2px solid blue;
  background-color: #FAFAFA;
}

ul {
  display: flex;
  margin-top: 30px;
}
ul:first-child {margin-left: 10%; text-align:left;}
li {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;

}
