.magazine {
  width: 100%;
  background-color: #F7F1EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.magText {
  width: 30%;
}
.magazine img {
  margin-top: 30%;
  margin-bottom: -20%;

}
