.magazine {
  width: 100%;
  background-color: #F7F1EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.magazine h2 {
  font-size: 3.75rem;
}

.magazine p {
  color: black;
}

.magText {
  width: 23%;
}
.magazine img {
  margin-top: 30%;
  margin-bottom: -20%;
  margin-left: 4rem;
}
.magazine button {
  margin-top: 1.5rem;
}

